body {
    width: 350px;
    margin: auto;    
    text-align: center;
    justify-content: center;
    display: block;
}

h1 {
    font-size: 20px;    
}

.move[data-src] {
    filter: blur(0.2em);
}
  
.move {
    margin: 0px 0px 0px 200px;
    opacity: 0;    
}

