body {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

h1 {
    font-size: 20px;
}

img[data-src] {
    filter: blur(0.2em);
}
  
img {
    margin: 0px 0px 0px 800px;
    opacity: 0;
    
}