@media only screen and (min-width: 710px) {
    
    main {
        margin: auto;
        display: grid;
        grid-template-areas: "first_sample second_sample" "third_sample third_sample";
    }

    #third_sample {
        grid-column: span 3;
    }
    
    h1 {
        font-size: 4em;
        margin-bottom: 0;
    }

    header a {
       font-size: 2em;
    }

    footer {
        display: grid;
        grid-template-areas: "name mydate";
    }

    #name {
        text-align: end;
        margin-right: 1em;
    }

    #mydate {
        text-align: start;
        margin-left: 1em;
    }
}