header,footer {
	background-color: rgb(0, 0, 131);
    color: white;
    font-family: "Merriweather", Arial, sans-serif;
}

#add {
    background-color: #646464;
    color: #ffffff;
    font-family: "Merriweather", Arial, sans-serif;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 0 0 1.5em 1.5em;
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 0px 60px 4fr 1fr 1fr 0px;
    grid-template-rows: 100px 1fr;
    gap: 3px;
}


h3 {
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

#event {
    padding: 10px;
}

#event h3 {
    margin: 0;
    padding: 5px;
    font-size: 5vw;
    margin-bottom: 10px;
}

#event h4 {
    color: white;
    font-size: 4vw;
    text-align: center;
}

#event p {
    color: white;
    font-size: 4vw;
    text-align: center;
    padding: 0 20px;
}

#event a {
    color: yellow;
    font-size: 4vw;
    text-align: center;
}

#weather {
    color: #ffffff;
    font-family: "Merriweather", Arial, sans-serif;
    display:grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr 0.5fr;
    gap: 3px;
    padding: 10px;
}

#weather h3 {
    margin: 0;
    padding: 0;
    font-size: 5vw;
    grid-column: 1/3;
    grid-row: 1/2;
}
    
#weather img {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 80%;
    margin: 0;
    justify-self: center;
}

#weather a:nth-of-type(1) {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15vw;
    width: 100%;
}

#weather a:nth-of-type(2) {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    justify-content: end;
    border-bottom: 1px white solid;
    font-size: 5vw;
    margin: 0 10px 0 10px;
} 

#weather a:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    justify-content: end;
    margin: 2px;
    padding: 0;
    padding-right: 35px;
    font-size: 4vw;
    margin-top: 5px;
}

#weather a:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    justify-content: end;
    margin: 2px;
    padding: 0;
    padding-right: 35px;
    font-size: 4vw;
}

#weather a:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-right: 35px;
    font-size: 4vw;
    margin-top: 5px;
}

#weather a:nth-of-type(6) {
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 0;
    padding-right: 35px;
    font-size: 4vw;
}

footer {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 15px;
    padding-top: 20px;
}

#logo {
    grid-column: 2/3;
    display: flex;
    align-self: end;
    justify-self: end;
    height: 55px;
    padding: 0px;
    padding-bottom: 5px;
}

#name {
    grid-column: 3/4;
    align-self: end;
    padding-bottom: 3px;
}

#name h1 {
    margin: 0;
    margin-bottom: -7px;
    padding: 0;
    font-size: 1.5em;
}

#name a {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

#social {
    grid-column: 4/5;
    grid-row: 1;
    display: flex;
    align-items: end;
    padding-bottom: 5px;
    justify-content: flex-end;
    gap: 6px;
}

#social img {
    height: 20px;
}

#thedate {
    background: linear-gradient(90deg, rgba(38,142,0,0) 0%, rgba(38,142,0,1) 60%);
    padding: 3px;
    padding-right: 10px;
    padding-top: 8px;
    color: #ffffff;
    font-family: "Raleway", Arial, Helvetica, sans-serif ;
    width: 70%;
    height: 30px;
    text-align: end;
    font-size: 0.8em;
    position: absolute;
    right: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #ffffff;
    font-family: "Merriweather", Arial, sans-serif;
    border-top: 1px solid rgba(0,0,0,0.5);
    font-size: 0.75em;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color:  #646464;
}

nav ul {display: none;}
nav ul.open {
    display: block;
}

#navmove.move {
    grid-column: 1/6;
    grid-row: 2;
    width: 100%;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn {
    display: flex;
    grid-column: 5/6;
    grid-row: 1;
    color:#ffffff;
    font-size: 1.6em;
    align-items: end;
    background-color: transparent;
    border: none;
    width: 50px;
    justify-self: end;
    padding: 0;
    padding-bottom: 3px;
    padding-left: 5px;
}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

main {
    display: grid;
    grid-template-rows: 0.6fr 0.5fr 1fr 0.5fr 1.5fr;
    gap: 10px;
    margin: 15px;
}

#event, #weather, #join, #news, #spots {
    background: radial-gradient(rgba(0, 0, 131,1) 0%, rgb(0, 0, 76) 100%);
    font-family: "Merriweather", Arial, sans-serif;
}

#hero {
    grid-row: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}


#imgHero {
    width: 100%;
}

#theHeroImg {
    grid-column: 1/3;
    grid-row: 1/4;
    z-index: 0;
}

#hero button {
    grid-column: 2/3;
    grid-row: 3/4;
    z-index: 1;
    font-family: "Merriweather", Arial, sans-serif;
    color: white;
    font-size: 5vw;
    display: block;
    margin: auto;
    margin-top: 0;
    width: 70%;
    height: 45px;
    background-color: #268E00;
    border: none;
    border-radius: 5px;
}


#hero p {
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    margin-left: 15px;
    font-size: 20px;
    font-family: "Merriweather", Arial, sans-serif;
}

#event {
    grid-row: 2;
}

#weather {
    grid-row: 3;
}

#news {
    grid-row: 4;
}

#join {
    display: none;
}

#spots {
    grid-row: 5/6;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}

.spotlight:nth-of-type(1) {
    grid-row: 1;
}

.spotlight:nth-of-type(2) {
    grid-row: 2;
}

.spotlight:nth-of-type(3) {
    display: none;
}

#wlogo {
    grid-column: 1/2;
    height: 55px;
    margin-left: 15px;
    justify-self: end;
}

#footName {
    grid-column: 2/3;
    align-self: center;
}

#footName h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

#footName a {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

#footInfo {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    font-size: 0.7em;
}

#footInfo p {
    padding: 0;
    margin: 0;
}

#footerLine {
    grid-column: 1/3;
    grid-row: 3;
    text-align: center;
    margin-bottom: 20px;
    border-top: 1px solid #268E00;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.7em;
}

#footerLine a {
    display: block;
}

#news p {
    font-family: "Merriweather", Arial, sans-serif;
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 3vw;
    line-height: 4.5vw;
}

#news h3 {
    margin-bottom: 0;
    font-size: 5vw;
}

.spotlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Merriweather", Arial, sans-serif;
    color: white;
    box-shadow: 0 0 5px #268E00;
}

#truck, #pencils, #treehouse {
    height: 15vh;
}

.spotlight h6 {
    font-size: 3vw;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}


.spotlight p:nth-of-type(1) {    
    border-top: #268E00 solid 1px;
    margin:0;
    padding: 0;
    padding-top: 7px;
    width: 90%;
    display: flex;
    justify-content: center;
    font-family: "Raleway", Arial, Helvetica, sans-serif ;
}

.spotlight p:nth-of-type(2) {  
    padding: 0;
    text-justify: center;    
    display: flex;
    justify-content: center;
    font-family: "Raleway", Arial, Helvetica, sans-serif ;
}

.spotlight:nth-of-type(2) h6 {
    margin: 5px 0 5px 2.7vw;
}


.spotlight p {
    font-size: 4vw;
    padding: 5px 0;
    margin: 5px 0;
}






